<html><body bgcolor = "#F5F3EE">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

<style>
button {
  background-color: #4A96AD;
  color:white
}
a {font-size: 18px}
a:link {
    color: #7D1935
}
a:visited {
    color: #7D1935
}
a:hover {
    color: #4A96AD;
}
table {
    margin-top: 18px;
    border: 1px solid black;
    border-collapse: collapse;
}
td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  vertical-align: top;
}

</style>

<h5 id = "loggedInAs">logged in as </h5> <button onClick="window.location.href='../user/profile'">Show profile</button>
<button onclick="logout()">Log out</button>
<table>
  <tr align="center">
    <td>
      <h2>Mandatory lessons</h2>
    </td>
    <td>
      <h2>Optional lessons</h2>
    </td>
    <td>
      <h2>Learning texts</h2>
    </td>
  </tr>
  <tr>
    <td>
      <ul id="mandatory" style="vertical-align: top;">
      </ul>
    </td>
    <td>
      <ul id="optional" style="vertical-align: top;align=center">
      </ul>
    </td>
    <td>
      <ul id="non_interactive" style="vertical-align: top;align=center">
      </ul>
    </td>
  </tr>
</table>
<script>

function logout(){
  $.ajax({
    type: "GET",
    url: "../../user/logout",
    headers: {'Authorization':'Token '+localStorage.getItem('token')},
  })
  delete localStorage.removeItem('token')
  window.location.href="../../user/login/"
}
function set_cookie(name, value) {
  document.cookie = name +'='+ value +'; Path=/;';
}
function delete_cookie(name) {
  document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}

var user
$(document).ready(function(){
//  alert('ready')
  console.log(window.location.href)
  set_cookie('sessionid',localStorage.getItem('token'));
  $.ajax({
           url: "../user/api/profile",
           type: "GET",
           headers: {'Authorization':'Token '+localStorage.getItem('token')},
           success: function(data) {
             console.log(JSON.stringify(data));
             user = JSON.stringify(data)
             console.log(data['username'])
             document.getElementById("loggedInAs").innerHTML = "logged in as "+ data['username']
           },
           error: function(data) {
             if (data.status==401) {
               window.location.replace("../../user/login/")
             }
           }
        });

  $.ajax({
           url: "../api/lessonslist",
           type: "GET",
           headers: {'Authorization':'Token '+localStorage.getItem('token')},
           success: function(data) {
             var len = data.length
             var linkArray = []
             for (var i = 0; i<len; i++) {
               lesson = data[i]
               if (!lesson.optional) {
                 document.getElementById("mandatory").innerHTML += '<li><a href = "./'+lesson.id+'">'+lesson.number+'-'+lesson.name+'</a></li>'
               }
               if (lesson.optional && lesson.interactive) {
                 document.getElementById("optional").innerHTML += '<li><a href = "./'+lesson.id+'">'+lesson.number+'-'+lesson.name+'</a></li>'
               }
               if (!lesson.interactive) {
                 document.getElementById("non_interactive").innerHTML += '<li><a href = "./'+lesson.id+'">'+lesson.number+'-'+lesson.name+'</a></li>'
               }
             }
           },
           error: function(data) {
             if (data.status==401) {
               window.location.replace("../../user/login/")
             }
           }
        });

})
</script>
</body></html>
