<html><body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<p ><h5 id = "loggedInAs">logged in as </h5> <a href="../user/profile">Profile</a></p>
<input type="button" value="logout" onclick="logout()"/>
<h1>Lessons</h1>
<ul id="links">
</ul>

<script>

function logout(){
  $.ajax({
    type: "GET",
    url: "../../user/logout",
    headers: {'Authorization':'Token '+localStorage.getItem('token')},
  })
  delete localStorage.removeItem('token')
  window.location.href="../../user/login/"
}
function set_cookie(name, value) {
  document.cookie = name +'='+ value +'; Path=/;';
}
function delete_cookie(name) {
  document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
}

var user
$(document).ready(function(){
//  alert('ready')
  console.log(window.location.href)
  set_cookie('sessionid',localStorage.getItem('token'));
  $.ajax({
           url: "../user/api/profile",
           type: "GET",
           headers: {'Authorization':'Token '+localStorage.getItem('token')},
           success: function(data) {
             console.log(JSON.stringify(data));
             user = JSON.stringify(data)
             console.log(data['username'])
             document.getElementById("loggedInAs").innerHTML = "logged in as "+ data['username']
           },
           error: function(data) {
             if (data.status==401) {
               window.location.replace("../../user/login/")
             }
           }
        });

  $.ajax({
           url: "../api/lessonslist",
           type: "GET",
           headers: {'Authorization':'Token '+localStorage.getItem('token')},
           success: function(data) {
             var len = data.length
             linkTarget = document.getElementById("links")
             var linkArray = []
             for (var i = 0; i<len; i++) {
              linkTarget.innerHTML += '<li><a href = "./'+data[i].id+'">'+data[i].number+'-'+data[i].name+'</a></li>'
             }
           },
           error: function(data) {
             if (data.status==401) {
               window.location.replace("../../user/login/")
             }
           }
        });

})
</script>
</body></html>
