<html><body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body>
<a href="../">back</a>
<h1 id="title"></h1>
<p></p>
<form id="upload" method="post" enctype="multipart/form-data">
  <label for="file">Filename:</label>
  <input type="file" name="submittedFile" id="file" />
  <br />
  <input type="button" name="submit" value="Submit" onclick="uploadFile();" />
</form>

<form id = "ratingForm" method = "post" >
  <div id = "rating">
  </div>
</form>
<script>
$(document).ready(function(){
//  alert('ready')
  var id = window.location.pathname.split('/')[2]
  var getLocation = function(href) {
      var l = document.createElement("a");
      l.href = href;
      return l;
  };
  console.log(id)
  $.ajax({
       url: "../../api/lesson/"+id+"/",
       type: "GET",
       headers: {'Authorization':'Token '+localStorage.getItem('token')},
       success: function(data) {
         console.log(JSON.stringify(data));
         document.getElementById("title").innerHTML = "Lesson "+data['name']
         //document.getElementById("loggedInAs").innerHTML = "logged in as "+ data['username']
       },
    });
  $.ajax({
       url: "../../user/api/"+id+"/wrapper/",
       type: "GET",
       headers: {'Authorization':'Token '+localStorage.getItem('token')},
       success: function(data) {
         if(data[0]['completed'])
            document.getElementById("rating").innerHTML = document.getElementById("ratingFormHTML").innerHTML
       },
    });

    var ratingForm = $("#ratingForm")
    ratingForm.submit(function(e) {
      e.preventDefault()
      console.log('serialized '+ratingForm.serialize())
      $.ajax({
        type: "POST",
        url: "../../stats/"+id+"/rating/",
        headers: {'Authorization':'Token '+localStorage.getItem('token')},
        data: ratingForm.serialize(),
        success: function(e) {
            console.log(JSON.stringify(e))
            return false
        },
        error: function(e) {
        }
      })
    })
})
function uploadFile(){
    var id = window.location.pathname.split('/')[2]
    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    var formElement = document.getElementById("upload");
    var formData= new FormData(formElement);
    xmlhttp.open("post","../../api/"+id+"/submitfile/",false);
    xmlhttp.setRequestHeader("Authorization", 'Token '+localStorage.getItem('token'))
    xmlhttp.send(formData);
    var counter = 0;
    while (xmlhttp.readyState != 4){
        counter = counter + 1;
    }
    var response =  xmlhttp.responseText;
    console.log(response)
    location.reload()
}
</script>

<script id = "ratingFormHTML" language="text">
  <h5>Rate the lesson!</h5>
    <label for="fun">Fun</label>
    <input type="number" name="fun" min="1" max="5" id = "fun"> <br>
    <label for="difficulty">Difficulty</label>
    <input type="number" name="difficulty" min="1" max="5" id = "difficulty"> <br>
    <input type="submit" value="Post rating">
</script>
</body></html>
