<html><body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body>
<a href="../">back</a>
<input type="button" value="logout" onclick="logout()"/>
<h1 id="title"></h1>
<p id = "problem"></p>
<ul id="hints">
</ul>
<form id="newHintForm" method="get">
  <input type="submit" value="Get new hint"/>
</form>
<form id="upload" method="post" enctype="multipart/form-data">
  <input type="file" name="submittedFile" id="file" />
  <br />
  <input type="button" name="submit" value="Submit" onclick="uploadFile();" />
</form>
<div id= "submits">
</div>
<form id = "ratingForm" method = "post" >
  <div id = "rating">
  </div>
</form>
<form id="commentForm" method="post">
  <h3> Leave a comment:</h3>
  <textarea name="text" rows="5" cols="50"></textarea> <br>
  <input type="submit" value="Send"/>
</form>
<Table rules="rows" border="1"style="width:50%" id = "discussion">
</div>
<script>
$(document).ready(function(){
//  alert('ready')
  var id = window.location.pathname.split('/')[2]
  var getLocation = function(href) {
      var l = document.createElement("a");
      l.href = href;
      return l;
  };
  $.ajax({
       url: "../../api/lesson/"+id+"/",
       type: "GET",
       headers: {'Authorization':'Token '+localStorage.getItem('token')},
       success: function(data) {
         console.log(JSON.stringify(data));
         document.getElementById("title").innerHTML = "Lesson "+data['name']
         document.getElementById("problem").innerHTML = "Lesson "+data['problem']
        //document.getElementById("loggedInAs").innerHTML = "logged in as "+ data['username']
       },
       error: function(data) {
         if (data.status==401) {
           window.location.replace("../../user/login/")
         }
       }
    });
  $.ajax({
       url: "../../api/discussion/"+id+"",
       type: "GET",
       headers: {'Authorization':'Token '+localStorage.getItem('token')},
       success: function(data) {
         console.log(JSON.stringify(data));
         var discussion = document.getElementById("discussion")
         for (var i = 0; i < data.length; i++){
           discussion.innerHTML += "<tr><th align=\"left\"><h3>"+ data[i].username +"</h3><h5>"+data[i].text+"</h5></th></tr>"
         }
       },
       error: function(data) {
         if (data.status==401) {
           window.location.replace("../../user/login/")
         }
       }
    });
  $.ajax({
       url: "../../user/api/"+id+"/wrapper/",
       type: "GET",
       headers: {'Authorization':'Token '+localStorage.getItem('token')},
       success: function(data) {
         if(data[0]['completed']) {
            document.getElementById("rating").innerHTML = document.getElementById("ratingFormHTML").innerHTML
          }
       },
       error: function(data) {
         if (data.status==401) {
           window.location.replace("../../user/login/")
         }
       }
    });
  $.ajax({
       url: "../../api/hints/"+id,
       type: "GET",
       headers: {'Authorization':'Token '+localStorage.getItem('token')},
       success: function(data) {
         console.log(JSON.stringify(data))
         hintTarget = document.getElementById("hints")
         var hintArray = []
         for(var i = 0; i < data.length; i++) {
           hintTarget.innerHTML += "<li>"+data[i].text+"</li>"
         }
       },
       error: function(data) {
         if (data.status==401) {
           window.location.replace("../../user/login/")
         }
       }
    });
  $.ajax({
       url: "../../api/submits/"+id,
       type: "GET",
       headers: {'Authorization':'Token '+localStorage.getItem('token')},
       success: function(data) {
         submitTarget = document.getElementById("submits")
         for(var i = data.length-1; i >= 0; i--) {
           submitTarget.innerHTML += "<li>"+data[i].result+"</li>"
         }
       },
       error: function(data) {
         if (data.status==401) {
           window.location.replace("../../user/login/")
         }
       }
    });
  $("#newHintForm").submit(function (e) {
    e.preventDefault()
    $.ajax({
       url: "../../api/newhint/"+id,
       type: "GET",
       headers: {'Authorization':'Token '+localStorage.getItem('token')},
       success: function(data) {

         console.log(JSON.stringify(data))
         hintTarget = document.getElementById("hints")
         hintTarget.innerHTML = ""
         var hintArray = []
         for(var i = 0; i < data.length; i++) {
           hintTarget.innerHTML += "<li>"+data[i].text+"</li>"
         }
       },
       error: function(data) {
         if (data.status==401) {
           window.location.replace("../../user/login/")
         }
       }
     })
    });
  $("#commentForm").submit(function(e) {
    e.preventDefault()
    console.log('comment')
    $.ajax({
      type: "POST",
      url: "../../api/discussion/"+id+"/",
      headers: {'Authorization':'Token '+localStorage.getItem('token')},
      data : $("#commentForm").serialize(),
      success: function() {
        location.reload()
      }
    })


  })
  var ratingForm = $("#ratingForm")
  ratingForm.submit(function(e) {
    e.preventDefault()
    console.log('serialized '+ratingForm.serialize())
    $.ajax({
      type: "POST",
      url: "../../stats/"+id+"/rating/",
      headers: {'Authorization':'Token '+localStorage.getItem('token')},
      data: ratingForm.serialize(),
      success: function(e) {
          console.log(JSON.stringify(e))
          return false
      },
      error: function(data) {
        if (data.status==401) {
          window.location.replace("../../user/login/")
        }
      }
    })
  })
})

function logout(){
  $.ajax({
    type: "GET",
    url: "../../user/logout",
    headers: {'Authorization':'Token '+localStorage.getItem('token')},
  })
  delete localStorage.removeItem('token')
  window.location.href="../../user/login/"
}

function uploadFile(){
    var id = window.location.pathname.split('/')[2]
    var xmlhttp;
    if (window.XMLHttpRequest)
    {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    }
    else
    {// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }
    var formElement = document.getElementById("upload");
    var formData= new FormData(formElement);
    xmlhttp.open("post","../../api/"+id+"/submitfile/",false);
    xmlhttp.setRequestHeader("Authorization", 'Token '+localStorage.getItem('token'))
    xmlhttp.send(formData);
    var counter = 0;
    while (xmlhttp.readyState != 4){
        counter = counter + 1;
    }
    var response =  xmlhttp.responseText;
    console.log(response)
    location.reload()
}
</script>

<script id = "ratingFormHTML" language="text">
  <h5>Rate the lesson!</h5>
    <label for="fun">Fun</label>
    <input type="number" name="fun" min="1" max="5" id = "fun"> <br>
    <label for="difficulty">Difficulty</label>
    <input type="number" name="difficulty" min="1" max="5" id = "difficulty"> <br>
    <input type="submit" value="Post rating">
</script>
</body></html>
