<!DOCTYPE html>
<html>
<body>

<textarea id="input" cols="50" rows="20"></textarea>
<button onclick="ev()">evaluate</button>

<script>
function ev() {
    var f = document.getElementById("input").value
    //console.log(f)
    returnregexp = /return (.*);/g
    functionregexp = /function (.*)\((.*?)\)/
    var f2 = f.replace(returnregexp, function(match, contents, offset,s) {
      console.log("matched "+match)
      return "var to_return = "+contents+"; console.log(to_return);"+match.replace(contents,"to_return")
    })
    //console.log(f.match(functionregexp)[0], f.match(functionregexp[1]))
    console.log(f2)
    eval(f2)
    run()
}
</script>

</body>
</html>
