{% load rest_framework %}

<html><body bgcolor = "#F5F3EE">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<h1 align = "center"> So, you want to learn dynamic programming? </h1>
</br>
<form method="POST" id = "loginForm" align = "center">
    {% csrf_token %}
  Username:<br>
  <input type = "text" placeholder="username" name = "username" style = "margin-top:5px;margin-bottom:5px"> <br>
  Password:<br>
  <input type = "password" placeholder="password" name = "password" style = "margin-top:5px;margin-bottom:5px">
  <br>
  <input type="submit" value="Log in" style = "margin-top: 10px;background-color: #4A96AD;color:white">
</form>
<div align = "center">
<button id="registerButton"onclick="redirectToRegister()" style = "margin-top: 10px;background-color: #4A96AD;color:white">Register</button>
</div>
<script>
  function redirectToRegister(){
    window.location.href = "./register"
  }
    $(document).ready(function() {
      $("#loginForm").submit(function() {
        $.ajax({
          type: "POST",
          url: "./login",
          data: $(this).serialize(),
          success: function(e) {
              localStorage.setItem("token", e['token'])
              window.location.href = e['redirect_url']
              return false
          }
        })
      })
    })
</script>
</body></html>
